<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th>Description</th>
      <th>Owner</th>
    </tr>

    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, [current_user, project] %></td>
        <td><%= project.slug %></td>
        <td><%= project.description %></td>
        <td><%= project.user %></td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Project', [:new, current_user, :project], class: "btn btn-primary" %>
